
.main-content {
  margin-left: 240px; 
  padding-top: 60px;  
  padding: 40px; 
  box-sizing: border-box;
  min-height: 100vh;
  width: calc(100% - 240px); 
  background-color: var(--bg-dark); 
  color: var(--text);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* sidebar style */
.sidebar-collapsed .main-content {
  margin-left: 80px; 
  width: calc(90% - 80px);
}

.page-content {
  max-width: 90%; 
  margin: 0;    
  width: 90%;       
}
